/* reset css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #afafaf;
}

img {
  width: 100%;
  overflow: hidden;
}

/* main */

html, body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background: #7f5797;
    color: #fff !important;
}

::-moz-selection {
    background: #7f5797;
    color: #fff !important;
}

.page-section {
    margin-top: 120px;
}

section {
  margin-top: 140px;
}

#contact-section {
  padding-top: 20px;
}

#order-section {
  padding-top: 20px;
}

.section-heading {
  position: relative;
  z-index: 2;
  padding-top: 20px;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 60px;
}

.section-heading h6 {
  font-size: 13px;
  text-transform: uppercase;
  color: #7a7a7a;
  font-weight: 600;
}

.section-heading h4 {
  margin-top: 10px;
  line-height: 40px;
  font-size: 28px;
  font-weight: 900;
  text-transform: capitalize;
  color: #111;
}

.section-heading h4 em {
  font-style: normal;
  color: #dc8cdb;
}

.section-heading p {
  margin-top: 30px;
}

/* pre-header */

.pre-header {
    background-color: #efefef;
    height: 60px;
    padding: 15px 0px;
}

.pre-header ul li {
    display: inline-block;
}

.pre-header ul.info li {
    margin-top: 3px;
    margin-right: 45px;
}

.pre-header ul.info li a{
    color: #afafaf;
    font-size: 14px;
    transition: all .3s;
}

.pre-header ul.info li a:hover {
    color: #B762C1;
    overflow: hidden;
}

.pre-header ul.info li a i {
    font-size: 18px;
    margin-right: 8px;
}

.pre-header ul.social-media {
    text-align: right;
}

.pre-header ul.social-media li {
    margin-left: 5px;
}

.pre-header ul.social-media li a {
    background-color: #afafaf;
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    transition: all .3s;
}

.pre-header ul.social-media li a:hover {
    background-color: #B762C1;
}

.pre-header ul.username {
    text-align: right;
}

.pre-header ul.username li {
    margin-top: 3px;
    margin-left: 5px;
}

.pre-header ul.username li a {
    color: #9a9494;
    font-size: 15px;
    transition: all .3s;
}

/* header */

.header-area {
    background-color: #fff;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.03);
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 100px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.header-area .main-nav {
    min-height: 80px;
    background: transparent;
}

.header-area .main-nav .logo {
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo {
    line-height: 100px;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
    float: right;
    margin-top: 30px;
    margin-right: 0px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
}

.header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 15px;
    color: #2a2a2a;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
}

.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
    color: #B762C1 !important;
}

/* banner */


.home-banner {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 287px 0px 300px 0px;
  position: relative;
  overflow: hidden;
  background: url(../images/slider-right-dec.jpg);
  /* background-repeat: no-repeat; */
}

.home-banner h6 {
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 700;
  color: #B762C1;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.home-banner h5 {
  text-transform: none;
  font-size: 35px;
  font-weight: 550;
  color: #2a2a2a;
  margin-bottom: 15px;
  /* text-align:left; */
  /* text-transform: uppercase; */
}

.home-banner h2 {
  z-index: 2;
  position: relative;
  font-weight: 700;
  font-size: 50px;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.home-banner .left-content {
  margin-right: 15px;
}

.home-banner .left-content h6 {
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 700;
  color: #B762C1;
  margin-bottom: 15px;
  text-transform: uppercase;
}


.home-banner .left-content h2 {
  z-index: 2;
  position: relative;
  font-weight: 700;
  font-size: 50px;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.home-banner .left-content p {
  margin-bottom: 30px;
  margin-right: 45px;
}

.main-banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 287px 0px 120px 0px;
    position: relative;
    overflow: hidden;
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,212,255,1) 0%, rgba(165,80,182,1) 100%); */
}

.main-banner:after {
    content: '';
    /* background-image: url(../images/slider-left-dec.jpg); */
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 60px;
    width:  262px;
    height: 625px;
    z-index: 1;
}

.main-banner:before {
    content: '';
    /* background-image: url(../images/slider-right-dec.jpg); */
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 60px;
    width: 1159px;
    height: 797px;
    z-index: -1;
}

.main-banner .left-content {
    margin-right: 15px;
}

.main-banner .left-content h6 {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 700;
    color: #B762C1;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.main-banner .left-content h2 {
    z-index: 2;
    position: relative;
    font-weight: 700;
    font-size: 50px;
    color: #2a2a2a;
    margin-bottom: 20px;
}

.main-banner .left-content p {
    margin-bottom: 30px;
    margin-right: 45px;
}

.main-banner .right-image {
    /* text-align: right; */
    position: relative;
    z-index: 2;
}

.main-banner .right-image img {
    /* max-width: 593px; */
    width: 100%;
    overflow: hidden;
}

/* sign in / sign up */

section.contact-us #contact {
    margin-left: -100px;
    position: relative;
    z-index: 5;
    background-color: #fff;
    margin-top: 30px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 40px;
}

section.contact-us #contact input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #d6dce3;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 500;
    color: #3c3838;
    padding: 0px 15px;
    margin-bottom: 30px;
}

section.contact-us #contact button {
    float: right;
    font-size: 13px;
    color: #fff;
    background: rgb(152, 83, 188);
    background: linear-gradient(-145deg, rgb(129, 59, 132) 0%, rgb(132, 149, 185) 100%);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
    transition: all .3s;
    border: none;
    outline: none;
}

section.contact-us #contact button:hover {
    opacity: 0.9;
}

form#contact input::placeholder {
    color: rgb(116, 110, 110);
}

section.order-laundry #cart {
  margin-left: auto;
  position: relative;
  z-index: 5;
  background-color: #fff;
  margin-top: 30px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 40px;
  /* height: auto; */
  /* margin-bottom: 10px; */
}

section.order-laundry #test {
  position: relative;
}

section.order-laundry #cart table {
  border-radius: 15px 15px 15px 15px;
}

section.order-laundry #cart button {
  float: left;
  font-size: 13px;
  color: #fff;
  background: rgb(152, 83, 188);
  background: linear-gradient(-145deg, rgb(129, 59, 132) 0%, rgb(132, 149, 185) 100%);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s;
  transition: all .3s;
  border: none;
  outline: none;
  margin-left: 10px;
}

section.order-laundry #laundry {
  margin-left: auto;
  position: relative;
  z-index: 5;
  background-color: #fff;
  margin-top: 30px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 40px;
  /* height: auto; */
  /* margin-bottom: 10px; */
}

section.order-laundry #laundry table {
  border-radius: 15px 15px 15px 15px;
}

section.order-laundry #laundry button {
  color: #fff;
  background: linear-gradient(-145deg, rgb(129, 59, 132) 0%, rgb(132, 149, 185) 100%);
  border-radius: 5px;
  font-weight: 300;
  font-size: 15px;
  outline: none;
  border: none;
}

section.order-laundry #order {
  margin-left: -100px;
  position: relative;
  z-index: 5;
  background-color: #fff;
  margin-top: 30px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 40px;
  /* height: auto; */
  /* margin-bottom: 10px; */
}

section.order-laundry #order p {
  color: #2a2a2a;
  font-weight: 500;
  /* height: auto; */
  /* margin-bottom: 10px; */
}


section.order-laundry #order input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #d6dce3;
  outline: none;
  border: none;
  box-shadow: none;
  font-size: 13px;
  font-weight: 500;
  color: #3c3838;
  padding: 0px 15px;
  margin-bottom: 30px;
}

section.order-laundry #order input::placeholder {
  font-size: 14;
  /* color: #2a2a2a; */
  /* font-weight: 500; */
  /* height: auto; */
  /* margin-bottom: 10px; */
}

section.order-laundry #order button {
  float: right;
  font-size: 13px;
  color: #fff;
  background: rgb(152, 83, 188);
  background: linear-gradient(-145deg, rgb(129, 59, 132) 0%, rgb(132, 149, 185) 100%);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all .3s;
  transition: all .3s;
  border: none;
  outline: none;
  margin-left: 10px;
}

section.order-laundry .dropdown {
  width: 100%;
  display: inline-block;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px rgb(53, 51, 51);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
  /* margin-top: 6px; */
  margin-bottom: 13px;
}

section.order-laundry .select {
  display: grid;
  align-items: center;
  position: relative;
  min-width: 15ch;
  max-width: 40ch;
  font-size: 18px;
  border: 3px 3px 3px 3px;
  margin-bottom: 20px;
  /* border-radius: 0.25em; */
}

section.order-laundry .dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
}

section.order-laundry .dropdown .select > i {
  font-size: 14px;
  color: #888;
  cursor: pointer;
  transition: all .3s ease-in-out;
  float: right;
  line-height: 20px;
}

section.order-laundry .dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204,204,204);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display:none;
  max-height: 144px;
  overflow-y: auto;
  z-index: 9;
}

section.order-laundry .dropdown .dropdown-menu li {
  padding: 10px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

section.order-laundry .dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}


